* {
  font-family: sans-serif; /* Change your font family */
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color:peachpuff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  /* border-bottom: 1px solid #dddddd; */
  color:peachpuff;

}

.content-table tbody tr:nth-of-type(even) {
  /* background-color: #f3f3f3; */
  color:peachpuff;

}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}


.content-table tbody tr:active-row {
  font-weight: bold;
  color: #009879;
}

body{

  overflow: auto;
  background: linear-gradient(to bottom, #e2e2e2, lightblue);
   /*background: url(https://img.freepik.com/free-photo/3d-render-medical-background-with-dna-strands-connecting-dots_1048-6022.jpg?size=626&ext=jpg);
   */background-image : no-repeat;
    background-size:contain;
  font-family:Tahoma;
  font-size:15px;
}
